* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: inherit;
  background: rgba(0, 0, 0, 0.1);
}

p, ul, li {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #595959;
  font-size: 1em;
  font-weight: 300;
}

ul, li {
  margin-left: 1em;
}

.mt-hero {
  margin-top: 2.5em;
}

h1, h2 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 4px;
  font-weight: 500;
  color: #000;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  color: #262626;
  line-height: 1.5em;
}

h3 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #404040;
  font-weight: 300;
  line-height: 1.5em;
}
/*
nav {
  background: #fff; rgba(255, 255, 255, 0.8)
}*/

.navbar-nav li {
   list-style: none;
   display: inline-block;
   margin: auto 8px;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
}

.navbar-nav li a{
  text-decoration: none;
  color: #262626;
}

.navbar-nav li a:hover{
  line-height: .5em;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
}

.container-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline; /*baseline*/
  align-content: flex-start;

}

.container-flex-child {
  width:300px;
}

.container-flex-child img {
  width:100%;
}


.hero {
  background-color: #fff;
  color: #000;
  width: 100%;
}


.hero-content {
  width: 100%;
}

.hero p, .hero ul, .hero li {
  color: #000;
}

.hero p.source {
  font-size: 9px;
  letter-spacing: 0;
  color: #d9d9d9;
}


.pos-relative {
  position: relative;
}

.vert-align {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 45%;
}

.vert-align2{
  position: absolute;
  top: 8%;
  left: 8%;
  width: 100%;
}



#bg-03 {
  background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/8d96b848836913.58a360d38dbf3.jpg');
  width: 100%;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}




footer {
  padding:2em;
  background-color: #fff;
  color: #d9d9d9;
  min-height:200px;
  margin: 0;
}

footer a{
  color: #262626;
}

footer ul{
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}
footer .copyright {
  font-size: .75em;
}

#bg-01 {
  background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Caspar_David_Friedrich_-_Wanderer_above_the_sea_of_fog.jpg') no-repeat center center;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* PROJECTS */

.projects h1 {
  color: #000;
  margin-top: 1em;
}

.projects p {
  color: #000;
}

.projects img {
  width: 100%;
  margin: 1em auto;
}

#project-01 {
  background: url('/images/GOPPopularity-Graphic.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-02 {
  background: url('/images/SchoolWalkOut-Graphics.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-02b {
  background: url('/images/SchoolWalkOut-04ALL.jpg') no-repeat center center;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
  background-attachment:fixed;
}

#project-03 {
  background: url('/images/KimTrumpInsults_16x9.gif') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-04 {
  background: url('/images/AR15-Illustration.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-05 {
  background: url('/images/001SignUp-Page-LayoutArtboard 1.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-06 {
  background: url('/images/HouseKeyRaces-Animation_Social.gif') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#project-07 {
  background: url('/images/Screen-Shot-2018-04-04-at-1.03.14-PM_1600.jpg') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#project-08 {
  background: url('/images/BC-BankofAmerica-TheBigPicture_MOCK2_1600.jpg') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#project-09 {
  background: url('/images/Behance-1400_6-1600.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-10 {
  background: url('/images/Behance-1400_7-1600.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-11 {
  background: url('/images/Behance-1400_1-1600.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}



/* TABLET & DESKTOP */
@media screen and (min-width: 640px) {

  .container-flex-child {
    width: 250px;
  }

  .hero {
    min-height: 700px;
  }

  .hero-content {
    width: 60%;
  }

  .projects h1 {
    margin-top: 1em;
  }

  .projects img {
    width: 90%;
    margin: 2em auto;
  }

  h1 {
    font-size: 3em;
    letter-spacing: 3px;
  }

  #project-01, #project-02, #project-03, #project-04, #project-05, #project-07, #project-08, #project-09, #project-10, #project-11, #project-12, #project-13, #project-14, #project-15 {
    background-size: 80%;
    background-position: center center;
  }

  #project-02b {
    background-size: cover;
  }

  #project-06 {
    background-position: center center;
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    background-size: 60%;
  }

}
