* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: inherit;
  background: rgba(0, 0, 0, 0.1);
}

p, ul, li {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #595959;
  font-size: 1em;
  font-weight: 300;
}

ul, li {
  margin-left: 1em;
}

.mt-hero {
  margin-top: 2.5em;
}

h1, h2 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 4px;
  font-weight: 500;
  color: #000;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  color: #262626;
  line-height: 1.5em;
}

h3 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #404040;
  font-weight: 300;
  line-height: 1.5em;
}
/*
nav {
  background: #fff; rgba(255, 255, 255, 0.8)
}*/

.navbar-nav li {
   list-style: none;
   display: inline-block;
   margin: auto 8px;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
}

.navbar-nav li a{
  text-decoration: none;
  color: #262626;
}

.navbar-nav li a:hover{
  line-height: .5em;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
}

.container-flex {
  display: block;
  width: 100%;

}

.container-flex-child {
  width:100%;
}

.container-flex-child img {
  width:100%;
}


.hero {
  background-color: #fff;
  color: #000;
  width: 100%;
}


.hero-content {
  width: 100%;
}

.hero p, .hero ul, .hero li {
  color: #000;
}

.hero p.source {
  font-size: 9px;
  letter-spacing: 0;
  color: #d9d9d9;
}


.pos-relative {
  position: relative;
}

.vert-align {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 45%;
}

.vert-align2{
  position: absolute;
  top: 8%;
  left: 8%;
  width: 100%;
}


footer {
  padding:2em;
  background-color: #fff;
  color: #d9d9d9;
  min-height:200px;
  margin: 0;
}

footer a{
  color: #262626;
}

footer ul{
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}
footer .copyright {
  font-size: .75em;
}


/* PROJECTS */

.projects h1 {
  color: #000;
  margin-top: 1em;
}

.projects p {
  color: #000;
}

.projects img {
  width: 100%;
  margin: 1em auto;
}

#project-01 {
  background: url('/images/GOPPopularity-Graphic.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-02 {
  background: url('/images/SchoolWalkOut-Graphics.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-02b {
  background: url('/images/SchoolWalkOut-04ALL.jpg') no-repeat center center;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
  background-attachment:fixed;
}

#project-03 {
  background: url('/images/KimTrumpInsults_16x9.gif') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-04 {
  background: url('/images/AR15-Illustration.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-05 {
  background: url('/images/001SignUp-Page-LayoutArtboard 1.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-06 {
  background: url('/images/HouseKeyRaces-Animation_Social.gif') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#project-07 {
  background: url('/images/07_HP-Rebrand.jpg') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#project-08 {
  background: url('/images/08_BOA-TheBigPicture.jpg') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#project-09 {
  background: url('/images/Behance-1400_6-1600.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-10 {
  background: url('/images/Behance-1400_7-1600.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

#project-11 {
  background: url('/images/11_PresSpeechLib.jpg') no-repeat top;
  -webkit-background-size: 170%;
  -moz-background-size: 170%;
  -o-background-size: 170%;
  background-size: 170%;
}

.container-intro {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "intro-gfx1"
  "intro-text1"
  "intro-gfx2"
  "intro-text2";
}

.intro-text1, .intro-text2 { margin: -25px auto 15px 15px; }
.intro-gfx1, .intro-gfx2 {
    height: 280px;
    width: 100%;
    margin-top: 15px;
    z-index: -1;
}


#intro-gfx1{
  background: url('/images/KimTrumpInsults_16x9.gif') center center no-repeat;
  background-size: contain; /*cover*/
}

#intro-gfx2 {
  background: url('/images/SchoolWalkOut-02Animation.gif') center center no-repeat;
  background-size: 120%; /*cover*/
}


/* TABLET & DESKTOP */

@media screen and (min-width: 440px) {
  .container-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
    height: 2200px;
  }

  .container-flex-child {
    width: 45%;
  }
}


@media screen and (min-width: 640px) {


  .hero {
    min-height: 700px;
  }

  .hero-content {
    width: 60%;
  }

  .projects h1 {
    margin-top: 1em;
  }

  .projects img {
    width: 100%;
    margin: 2em auto;
  }

  h1 {
    font-size: 3em;
    letter-spacing: 3px;
  }

  #project-01, #project-02, #project-03, #project-04, #project-05, #project-07, #project-08, #project-09, #project-10, #project-11, #project-12, #project-13, #project-14, #project-15 {
    background-size: 80%;
    background-position: center center;
  }

  #project-02b {
    background-size: cover;
  }

  #project-06 {
    background-position: center center;
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    background-size: 60%;
  }

  .container-flex {
    height: 1600px;
  }

  .container-flex-child {
    width: 31%;
  }

  .container-intro {
    display: grid;
    grid-template-columns: 5% 25% 17% 6% 27% 15% 5%; /*  5% 20% 15% 45% 5% 5% 5%*/
    grid-template-rows: 80px 120px 260px 5px 80px 260px 5%; /* 80px 120px 260px;*/
    margin-bottom: 3rem;
  }


  .intro-text1 { grid-area: 3 / 3 / 4 / 5; }
  .intro-text2 { grid-area: 6 / 4 / 7 / 6; }
  .intro-gfx1 {
    grid-area: 2 / 4 / 4 / 7;
    z-index: -1;
  }
  .intro-gfx2 {
    grid-area: 5 / 2 / 7 / 5;
    z-index: -1;
  }

  .intro-text1, .intro-text2 { margin: 0; }

}

/* @media screen and (min-width: 920px) {
  .container-flex {
    height: 1300px;
  }
  .container-flex-child {
    width: 31%;
  }
} */

/* @media screen and (min-width: 1000px) {
  .container-flex {
    height: 1200px;
  }
  .container-flex-child {
    width: 24%;
  }
} */
