---
layout: default
---


    {{ content }}

<!-- /.container -->

<div class="row p-2 mt-5 auto">
  <div class="container-flex col-md-12 mt-5">

    <!-- UI Practice -->
    <div class="container-flex-child m-2">
      <a href="/work/05.html">
        <img src="../images/001SignUp-Page-LayoutArtboard 1.jpg">
        <div class="project-name">
          Sign-up Form<br/><em>UI</em>
        </div>
      </a>
    </div>

    <!-- 2018 Midterms -->
    <div class="container-flex-child m-2">
      <a href="/work/06.html">
        <img src="../images//HouseKeyRaces-Animation_Social.gif">
        <div class="project-name">
          2018 Elections<br/><em>Web Design, UI, Social</em>
        </div>
      </a>
    </div>
    <!-- Politics rebrand -->
    <div class="container-flex-child m-2">
      <a href="/work/07.html">
        <img src="../images/07_cover.jpg">
        <div class="project-name">
          CNN Politics Rebrand
        </div>
      </a>
    </div>



    <!-- SOTU -->
    <div class="container-flex-child m-2">
      <a href="/work/18.html">
        <img src="/images/18_Cover.gif" alt="State of the Union GIF">
        <div class="project-name">
          State of the Union<br/><em>Web Design</em>
        </div>
      </a>
    </div>

    <!-- Data viz? -->

    <!-- 2016 Elections -->
    <div class="container-flex-child m-2">
      <a href="/work/12.html">
        <img src="/images/12_Cover.jpg">
        <div class="project-name">
          2016 Elections<br/><em>App Graphics, Social</em>
        </div>
      </a>
    </div>

    <!-- Graphics -->
    <div class="container-flex-child m-2">
      <a href="/work/01.html">
        <img src="../images/GOPPopularity-Graphic_exlarge1x1.jpg">
        <div class="project-name">
          Graphics
        </div>
      </a>
    </div>



    <!-- HP web product Slider -->
    <div class="container-flex-child m-2">
      <a href="/work/16.html">
        <img src="/images/16_HP-NatEmSpeech-Cover.gif">
        <div class="project-name">
          CNN Homepage & Fact Check Visuals<br/><em>Product, Web Design</em>
        </div>
      </a>
    </div>

    <!-- Gun control digital storytelling web design-->
    <div class="container-flex-child m-2">
      <a href="/work/02.html">
        <img src="../images/SchoolWalkOut-Graphics_videosynd2.jpg">
        <div class="project-name">
          Gun Control - School Walkouts<br/><em>Web Design, Graphics</em>
        </div>
      </a>
    </div>

    <!-- WP BP -->
    <div class="container-flex-child m-2">
      <a href="/work/10.html">
        <img src="/images/10_cover.jpg">
        <div class="project-name">
          Digital Oilfield<br/><em>Web Design</em>
        </div>
      </a>
    </div>

    <!-- Mueller Report annotated -->
    <div class="container-flex-child m-2">
      <a href="/work/19.html">
        <img src="/images/19_Cover.jpg">
        <div class="project-name">
          Mueller Report Annotated<br/><em>Web Design</em>
        </div>
      </a>
    </div>


    <!-- WP BOA -->
    <div class="container-flex-child m-2">
      <a href="/work/08.html">
        <img src="/images/08_Cover.jpg">
        <div class="project-name">
          The Big Small Picture, Bank of America<br/><em>Web Design</em>
        </div>
      </a>
    </div>
    <!-- WP Sustainability -->
    <div class="container-flex-child m-2">
      <a href="/work/09.html">
        <img src="/images/09_Cover.jpg">
        <div class="project-name">
          Sustainability, Business Round Table<br/><em>Web Design</em>
        </div>
      </a>
    </div>




  </div>
</div>
