---
layout: default
---


    {{ content }}

<!-- /.container -->

<div class="row p-2 mt-5 auto">
  <div class="container-flex col-md-12 mt-5">

    <!-- UI Practice -->
    <div class="container-flex-child m-2">
      <a href="/work/05.html"><img src="../images/001SignUp-Page-Layoutgrid.jpg"></a>
    </div>
    <!-- HP web product Slider -->
    <div class="container-flex-child m-2">
      <a href="/work/16.html"><img src="/images/16_HP-NatEmSpeech-Cover.gif"></a>
    </div>
    <!-- 2018 Midterms -->
    <div class="container-flex-child m-2">
      <a href="/work/06.html"><img src="../images/HouseKeyRaces-Animation_Social.gif"></a>
    </div>
    <!-- Politics rebrand -->
    <div class="container-flex-child m-2">
      <a href="/work/07.html"><img src="../images/07_cover.jpg"></a>
    </div>
    <!-- Presidential Speech Lib -->
    <div class="container-flex-child m-2">
      <a href="/work/11.html"><img src="/images/Behance-1400_1.jpg"></a>
    </div>
    <!-- 2016 Elections -->
    <div class="container-flex-child m-2">
      <a href="/work/12.html"><img src="/images/Behance-1400_2.jpg"></a>
    </div>

    <!-- Data viz? -->

    <!-- Graphics -->
    <div class="container-flex-child m-2">
      <a href="/work/01.html"><img src="../images/GOPPopularity-Graphic_exlarge1x1.jpg"></a>
    </div>
    <!-- Gun control -->
    <div class="container-flex-child m-2">
      <a href="/work/02.html"><img src="../images/SchoolWalkOut-Graphics_videosynd2.jpg"</a>
    </div>



    <!-- WP BP -->
    <div class="container-flex-child m-2">
      <a href="/work/10.html"><img src="/images/10_cover.jpg"></a>
    </div>
    <!-- WP BOA -->
    <div class="container-flex-child m-2">
      <a href="/work/08.html"><img src="../images/BC-BankofAmerica-TheBigPicture_MOCK2_1600_card.jpg"></a>
    </div>
    <!-- WP Sustainability -->
    <div class="container-flex-child m-2">
      <a href="/work/09.html"><img src="/images/Behance-1400_6.jpg"></a>
    </div>




  </div>
</div>
